*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: barlow,sans-serif;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    color: rgb(42,57,78)
}
p{
    color: rgb(51,77,84);
}
.blue{
    color: blue;
}
.orange{
    color: orange;
}
.center{
     display: flex;
    justify-content: center;
    align-items: center; 

    /* padding: 2rem 6rem; */
}
.header-bar{
    display: flex;
    
}
.mutual{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.mutual .content h1{
    font-size: 3rem;
    font-weight: 600;
    color: #000000;
}
.mutual .content p{
    font-size: 1.2rem;
    font-weight: 400;
    color: #2a394e;
   
}
.mutual img {
  margin-bottom: -27px;
  margin-right: 4rem;
}
.form{
    background-color: rgb(63, 91, 217);
    height: 10rem;
    border-radius: 10px; 
}
input{
    height: 3.2rem;
    border-radius: 7px;
    border: 1px solid white;
    width: 22%;
    margin-top: 3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 20px;
}
select{
    height: 3.2rem;
    border-radius: 7px;
    border: 1px solid white;
    width: 22%;
    margin-top: 3rem;
    margin-right: 1rem;
}
button{
    height: 3.2rem;
    border-radius: 4px;
    border: 1px solid white; 
    width: 22%;
    margin-top: 3rem;
    background-color:  rgb(63, 91, 217);
    color: white;
    font-weight: 600;
}
.explore{
   
    background-color: rgb(249,251,254);
    padding:  0  10rem;
   

}
.explore .explore-bar {
    padding: 2rem;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
}
.explore h1{
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-weight: 600;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.bottom{
    display: flex; 
   flex-direction: row;
   justify-content: space-between;
}
.top .mutual-item{
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    margin: 10px;
    width: 16rem;
    height: 8rem;
    border-radius: 8px;
}
.top .mutual-item:hover{
    background-color: rgb(255,255,255);
}
.bottom .mutual-item{
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    margin: 10px;
    width: 16rem;
    height: 8rem;
    border-radius: 8px;
}
.bottom .mutual-item:hover{
    background-color: rgb(255,255,255);
}
.benefits-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    
}
.benefits-section .content-section{
    display: flex;
    width: 50%;
    flex-direction: column;
     margin-right: 4rem;
}
.benefits-section .content-section .content-area p{
    text-align: left;
    padding-right: 6rem;
    font-size: 1.1rem;
    line-height: 25px;
    letter-spacing: 0.2px;
}
.benefits-section .content-section h2{
    color: rgb(42,57,78);
    font-size: 2rem;
    text-align: left;
    /* padding-right: 1rem; */

}
.benefits-section .cards-container{
    width: 40%;
}

.benefits-section .cards-container .card-section1{
   display: flex;
   flex-direction: row;
}
.benefits-section .cards-container .card-section2{
    display: flex;
    flex-direction: row;
 }
 .benefits-section .cards-container .cards-item{
    text-align: left;
    padding-right: 2rem;
    word-spacing: 2px;
    line-height: 25px;
    border: 1px solid lightgrey;
    margin: 10px;
    border-radius: 20px;
 }
 .benefits-section .cards-container .cards-item svg {
     margin: 15px;
 }
 .benefits-section .cards-container .cards-item h4{
        font-size: 1.25rem;
        margin: 0 5px ;
    
 }
 .benefits-section .cards-container .cards-item p{
    margin: 10px;
 }
 .invest-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60vh;
    background-color: rgb(249,251,254);
 }
 .invest-container h1 {
    font-size: 2.5rem;
 }
 .invest-container .invest-section {
    display: flex;
    flex-direction: row;
    /* margin-left: 10rem; */
 }
 .invest-container .left .invest-card{
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: 6rem;
    margin-right: -5rem;
    
    
   
 }
 .invest-container .left .invest-card .content-section {
    text-align: left;
    padding-right: 6rem;
 }

 .invest-container .right .invest-card{
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: 6rem;
    
   
 }
 .invest-container .right .invest-card .content-section {
    text-align: left;
    padding-right: 6rem;
 }
 .invest-container .invest-card .content-section h4{
    font-size: 1.5rem;
 }
 .invest-container .invest-card .content-section p {
         line-height: 25px;
 }
 .partner-container{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
 }

 .partner-container .content h2{
        font-size: 2rem;
        text-align: left;
     padding-right: 6rem;
 }
 .partner-container .content a{
    text-align: left;
    padding-right: 6rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(63,91,217);
 }
 .partner-container img {
     width: 600px;
     height: 350px;
     
 }
 .mutual-fund-calculator {
      
 }
 .mutual-fund-calculator .mutual-title{
       display: flex;
       justify-content: space-between;
       padding: 2rem 0;
       font-size: 1.2rem;
      
     
     
 }

 .mutual-fund-calculator .calculator-container ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px;
        list-style: none;
 }

 .mutual-fund-calculator .calculator-container ul .calculator-cards {
    background-color: rgb(249,251,254);
        border-radius: 10px;
        border: 1px solid lightgray;

 }
 .mutual-fund-calculator .calculator-container ul li a{
    display: flex;
    text-align: center;
    margin: 0.5rem 0;
    color: rgb(42,57,78);
   
 }
 .mutual-fund-calculator .calculator-container ul  .calculator-cards .calculator-title{
      margin-bottom: 2rem;
    font-size: 1.275rem;
    font-weight: 600;
    word-spacing: 0.8px;

   
    

 }
 .investmentway-container {

 }
 .investmentway-container h2{
          font-size: 1.7rem; 
          font-weight: 700;   
 }
 .investmentway-container .invest-type, .child-container strong {
    font-size: 1.2rem;
 }
 .testimonial-container {
    background-color: rgb(249,251,254);
    height: 70vh;
    /* padding: 2rem 5rem; */
 }
 .testimonial-header h2 {
      margin-top: 3rem;
       font-size: 2.5rem;
 }
 .testimonial-container .testimonial-card-container ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 27px;
    list-style: none;
 }
 .testimonial-container .testimonial-card-container .slide-item1, .slide-item2 {
       text-align: center;
       margin: 15px;
       border: 1px solid lightgrey;
       background-color: #FFFFFF;
       border-radius: 7px;
       margin-top: 3rem;
       
       
 }
 .testimonial-container .testimonial-card-container .testimonial-card {
    display: flex;
    flex-direction: row;
       margin-left: 4rem;
      text-align: left;
      margin-top: 3rem;

 }
 .testimonial-container .testimonial-card-container .testimonial-card .right h4 {
    font-size: 1.5rem;

 }
 .testimonial-container .testimonial-card-container .testimonial-content p {
        text-align: left;
        padding: 3rem;
        margin-top: -1rem;
        word-spacing: 1px;
        line-height: 25px;
 }
 .testimonial-container .testimonial-card-container .testimonial-card img {
        width: 50px;
        height: 50px;
        border-radius: 100px;
 }
 .pill {
    margin-top: -25rem;
    margin-right: -6rem;
    color: green;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
 }
 .demat-container {
    background-color: rgb(249,251,254);
    border-radius: 5px;
 }
 .demat-container .demat-content {
    text-align: center;
    padding: 3rem;
 }
 .demat-container .demat-content h2 {
    font-size: 2rem;
 }
 .demat-container .demat-content p {
    font-size: 1.2rem;
    color: darkgray;
    line-height: 30px;
 }
 .demat-container .demat-content button {
    font-size: 1.2rem;
    width: 16rem;
 }
 .mf-main-container {
    
 }
 .mf-main-container .details-container details {
    background-color: rgb(249,251,254);
    border-bottom: 1px solid lightgrey;
     height: 3rem;
 }
 .mf-main-container .details-container p {
    line-height: 30px;
 }
 .mf-main-container h2 {
    font-size: 1.5rem;
    
 }
 .details-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 .details-container summary {
    font-size: 1.2rem;
    font-weight: 700;
    word-spacing: 1px;
    margin-top: 10px;
 }
 .blog-container {
    /* padding: 2rem 10rem; */
    background-color: rgb(249,251,254);
   
 }
 .blog-container .blog-header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
 }
 .blog-container .mututal-blog-card-container ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
   
 }
 .blog-container .mututal-blog-card-container ul li {
    /* border: 1px solid red; */
    background-color: #FFFFFF;
    border-radius: 5px;
 }
 .blog-container .mututal-blog-card-container ul li img {
        width: 100%;
 }
 .blog-container .mututal-blog-card-container ul li p {
      padding: 1rem;
      color: rgb(8,103,179);
 }
 .blog-container .mututal-blog-card-container ul li h3 {
     font-size: 1.1rem;
     margin: 20px 5px;
     word-spacing: 1px;
     letter-spacing: 0.5px;
     line-height: 30px;
 }
 .blog-container .mututal-blog-card-container ul li .blog-time {
    display: flex;
    justify-content: space-between;
 }
 .app-card-container {
    background-color: rgb(63,91,217);
    padding: 2rem 10rem;
    border-radius: 10px;
 }
 .app-container .app-card-container {
       display: flex;

 }
 .app-container .app-card-container .app-card-1 {
    display: flex;
    /* width: 50%; */

}
.app {
    padding: 2rem 10rem;
}
.app-container .app-card-container .app-card-1 img{
      width: 550px;
      height: 370px;
      margin-left: -150px;
      margin-top: -1.9rem;

}
 .app-container .app-card-container  .downloads-details {
       color: rgb(255,201,2);
       font-size: 2rem;
       margin-left: -240px;
       margin-top: 1.7rem;
       font-weight: 700;
       letter-spacing: 0.5px;
 }
 .app-container .app-card-container .app-section {
        
        margin-left: 6rem;
 }
 .app-container .app-card-container .app-section h5{
           font-size: 2rem;
           color: white;
 }
 .app-container .app-card-container .app-section p {
       color: white;
       font-size: 1.2rem;
       margin-top: 1rem;
 }
 .app-container .app-card-container .app-section .form-section input {
    padding: 20px;
 }
 .app-container .app-card-container .app-section .links-container {
         display: flex;
         gap: 2rem;
        
 }
 .app-container .app-card-container .app-section .links-container .apple-play {
    border-left: 0.005px solid black;
    padding: 0 1rem;
   
 }

 






























 

