*{
    margin: 0px;
    padding:0px;
   

    
}
body{
    background-color: rgb(243, 248, 248);
    font-family: arial;
    font-size: 14px;
    /* width: 1366px;
    display: block;
    margin: auto; */
}

/* .fl{
    float: left;
}
.fr{
    float: right;
} */
.section1{
    display: flex;
    justify-content: center;
}
.navbar{
     padding-top: 6px;
    padding-bottom: 12px;
    padding-left: -9px;
    padding-right: 0px;
    margin-left: rem;
    
} 
.navbar img{
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 270px;
    margin-right: 0px;
}

.search-container{
    padding: 0px;
    margin-top: -53px;
    margin-bottom: 0px;
    margin-left: 472px;
    margin-right: 0px;
    width: 0px;
    height: 0px;


}
.search-container img{
    padding: 0px;
    margin-top: -44px;
    margin-bottom: 20px;
    margin-left: 9px;
    margin-right: 0px;
    width: 22px;
}
.search-input{
    width: 582px;
    height: 31px;
    border-radius: 3px;
    border:1px solid rgb(160, 155, 155)
}
.btn1{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1073px;
    margin-right: 0px;
    
}
.btn2{
    padding: 0px;
    margin-top: -35px;
    margin-bottom: 29px;
    margin-left: 1239px;
    margin-right: 19px;
    background-color: white;
  
}

.bg-blue-400{
    padding: 8px 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    color:white;
    background-color: rgb(46, 46, 237);
    border: 1px solid blue;
    border-radius: 3px;
    

}
.bg1-blue-400{
    padding: 8px 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    color: blue;
    background-color: white;
    border: 1px solid blue;
    border-radius: 3px;

}
.nav-container{
   
    background-color: rgb(176, 176, 222);
     height:50px;
     

}

.nav-container ul{
    display:flex;
    padding-top: 12px;
    justify-content: space-evenly;
    
}
 .li{
    list-style: none;
    color:black;
   
}

.section2 {
background-image: url(images/Asset_22_1.webp);
     max-width: 800rem;
     background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-bottom: 30px;
    padding-top: 343px;
    margin-bottom: -58px;
    background-color: #F9FBFE;
     justify-content: center;
     display: flex;
     
}
.title-container{
  justify-content: center;
}
    


.title-content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 24.15px;
}

.title-only{
    font-size: 43.8px;
    text-align: right;
    color: #2e51ff;
    font-family: Barlow;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: -259px;
    margin-left: -350px;

} 
.mob-only{
    font-size: 17px;
    line-height: 22px;
    color: #2e51ff;
    margin-bottom: 16px;
    text-align: center;
    font-weight: 400;
    margin-left: -205px;
    font-style: italic;
    font-weight: bold;
}
.I{
    color:orange;
    font-style: italic;
}
.section2img{
    margin-left: 24rem;
    width: 17rem;
    margin-bottom: 3rem;
    margin-top: -220px;
   
   
    
   
}

 .section-3{
    display:flex;
    justify-content: center;
 }
.containerform{
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    width: 1094px;
    height: 150px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 236px;
    margin-right: 0px;
}
.center{
    height:5vh
}


.containerform p{
      margin-top: 31px;
        margin-bottom: 0px;
        margin-left: 300px;
        margin-right: 0px;
        color: black;
        font-weight: bold;
        font-size: 22px;
        text-align: center;
    
}
.form{
    padding-top: 24px;
    padding-bottom: -7px;
    padding-left: 10px;
    padding-right: 0px;
    margin-top: -1px;
    margin-bottom: 3px;
    margin-left: 29px;
    margin-right: 0px;

}
.mobile{
    padding-top: -57px;
    padding-bottom: 1px;
    padding-left: 212px;
    padding-right: 61px;
    margin-top: -39px;
    margin-bottom: 0px;
    margin-left: 99px;
    margin-right: 0px;
    

}
.error{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 92px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 247px;
    margin-right: -184px;
    color:red;
    font-size: small;

}
.city{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 43px;
    padding-right: -20px;
    margin-top: -37px;
    margin-bottom: 0px;
    margin-left: 555px;
    margin-right: 0px

} 
.name{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 86px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 5px;
    border-color: rgb(219, 210, 210);
   

}
.mobile1{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: -11px;
    padding-right: 77px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -2px;
    margin-right: 0px;
    border-radius: 5px;
    border-color: rgb(219, 210, 210);

}
.city1{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 86px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 5px;
    border-color: rgb(219, 210, 210);

}
.prefix{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

}
/* padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px; */
   
    .btn3{
        padding-top: -2px;
        padding-bottom: 0px;
        padding-left: 877px;
        padding-right: 0px;
        margin-top: -46px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;

    }
    .btn31{
        padding-top: 10px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 8px;
    margin-top: -37px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(97, 97, 217);
    font-weight: bold;
    color: white;
    border:1px solid rgb(97, 97, 217);
    border-radius: 5px;
    font-size: 13px;

    }

    .section-4{
         display:flex;
         justify-content: center;
         background:white;
         margin-top: -92px;
      
        
    }
  .container-pill{
    padding-top: 105px;
    padding-bottom: 333px;
    padding-left: 433px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 115px;
    margin-right: -216px;
    text-align: center;
    margin-top: 26px;
   
    }
     
    .pill{
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 1px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    margin-top: 0px;
    color: green;
     }
     .title-heading{
     
    padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 1px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    font-size: xxx-large;
     }
     .title-subheading{
    padding-top: 15px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 1px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    font-size: larger;
    color: grey;
     }
     .headingfirst{
    padding-top: 41px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 1px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

     }
     .slider-item{
    display: flex;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -876px;
    margin-right: 560px;
    text-align: center;
    margin-top: 277px;
     }
     
        

.brokage {
    padding: 0px 0px 0px 47px;
    margin: 14px 52px 147px 153px;

    }
     .brokage img{
        width: 217px;
        height: 116px;
     }
     .headingbro1{
        font-weight: bold;
        margin-left: 45px;
        font-size: 18px;
     }
     .headingbro{
        margin-left: 45px;
        font-size: 18px;
       
    }
    .headingbro2{
        font-weight: bold;
        margin-left: 45px;
        font-size: 18px;

    }
    .headingbro21{
        margin-left: -38px;
        font-size: 18px;

    }
    .headingbro3{
        font-weight: bold;
        margin-left: 45px;
        font-size: 18px;

    }
    .headingbro31{
        margin-left: 101px;
        font-size: 18px;
    }

    
    .brokage3 img{
        width: 204px;
        height: 111px;
        margin-left: 46px;
        padding-top: 10px;
    }
    .h5{
        margin-top: 275px;
        margin-left: -513px;
        margin-right: -19px;
       color: rgb(97, 97, 217);
    }
    .arrow img{
   margin-top: 277px;
    margin-left: 31px;
    width: 9px;
    height: 11px;
         
    }
    
     .section-5{
        display:flex;
        justify-content: center;
         max-width: 100%;
     }
     .container-5{
     
        margin-top: 0px;
        margin-bottom: 0px;
         align-items: center;
         margin-right:92px;
         margin-left: -60px;
         max-width: 100%;

     }
     
     .container-5 h5{
        align-items: center;
        font-size: large;
        font-weight: bold;
        color: rgb(56, 55, 55);
       
    }
    .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 9px;
    place-items: center;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 15px;
    margin-bottom: 20px;
    justify-content: center;
    
    }
    .grid-item {
        background-color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 8px;
    }

  
    .grid-item img {
        max-width: 100px;
        max-height: 100px;
        margin-left: 6px;
        margin-right: 371px;
        margin-top: 15px;
        margin-bottom: -12px;
        width: 42px;
        height: 47px;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
        border-radius: 5px;
    }
    .grid-item p{
        margin-left: -226px;
        margin-right: 0px;
        margin-top: -23px;
        margin-bottom: 0px;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 25px;
        padding-right: 0px
      
    }
    .section-6{
        background-color: white;
        display: flex;
        justify-content: center;
    }
   
   
   
   
   
   
    .container-6{
        display: flex;
        justify-content: center;
         max-width: 1170px;
          width: 100%;
         margin: 0 auto;
         padding: 0 16px;
         /* margin-left: 960px;
        padding-top: 52px;
        padding-bottom: 0px;
        margin-right: -363px; */

    }
    .image-container{
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    background-color: #F9FBFE;
    justify-content: center;
    display: flex;
    margin-left: 0px;
        
       
    }
     .content-container{
        margin-left: 247px;
        margin-right: -143px;
        margin-top: 84px;
       
        margin-bottom: 0px;
        padding-left: 0px;
        padding-top: 5px;
        padding-bottom: 0px;
        padding-right: 0px;
    }
    .head2 h2 {
        font-size: xx-large;
    margin-left: -1px;
    margin-right: -5px;
    margin-top: 0;
    margin-top: -45px;
    margin-bottom: -29px;
    padding: 31px 0px;
    font-size: 15px;
}
   .subheading p{
   font-size: 25px;
   font-size: large;
    margin-right: 309px;
    line-height: 27px;
    }

        
  
    .links-container{
        margin-left: -2px;
        margin-right: 0px;
        margin-top: 54px;
        margin-bottom: -40px;
        padding-left: 0px;
        padding-top: -5px;
        padding-bottom: -1px;
        padding-right: 0px;

    }
    .single-link p{
    font-size: 18px;
    margin-left: 7px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    color: rgb(72, 72, 210);
    font-weight: bold;
    }

    
    .imgsingle img{
    margin-left: 406px;
    margin-right: 20px;
    margin-top: -50px;
    margin-bottom: 16px;
    padding-left: 0px;
    padding-top: -12px;
    padding-bottom: 0px;
    padding-right: 0px;

    }
    hr{
        width: 417px;
        color: rgb(147, 147, 147)
        
        
    }
    .section-7{
        background-color: white;
        display: flex;
        justify-content: center;
    }
    .container-7{
        /* justify-content: center;
        margin-left: 697px;
        padding-top: 102px;
        padding-bottom: 0px;
        margin-right: 622px; */
        display: flex;
    justify-content: center;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;

    }
    .image-container7{
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding-bottom: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
        background-color: #F9FBFE;
        justify-content: center;
        display: flex;
        margin-left: 0px;
       
    }
     .content-container7{
        margin-left: -32px;
        margin-right: 234px;
        margin-top: 84px;
        margin-bottom: 0px;
        padding-left: 0px;
        padding-top: 5px;
        padding-bottom: 0px;
        padding-right: 0px;


}
    
    .head7 h2 {
    margin-left: -1px;
    margin-right: -53px;
    /* margin-top: 0; */
    margin-top: -39px;
    margin-bottom: -29px;
    padding: 31px 0px;
    font-size: 15px;
}
   .subheading7 p{
    font-size: 18px;
    line-height: 27px;
    

    }

        
  
    .links-container7{
        margin-left: -2px;
        margin-right: 0px;
        margin-top: 54px;
        margin-bottom: -40px;
        padding-left: 0px;
        padding-top: -5px;
        padding-bottom: -1px;
        padding-right: 0px;

    }
    .single-link7 p{
    font-size: 18px;
    margin-left: 7px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    color: rgb(72, 72, 210);
    font-weight: bold;
    }

    
    .imgsingle7 img{
    margin-left: 406px;
    margin-right: 20px;
    margin-top: -50px;
    margin-bottom: 16px;
    padding-left: 0px;
    padding-top: -12px;
    padding-bottom: 0px;
    padding-right: 0px;

    }
    hr{
        width: 417px;
        color: rgb(147, 147, 147)
        
        
    }

    .section8{
        background-color: white;
        display: flex;
        justify-content: center;
    }

     .container8{
        max-width: 1170px;
    width: 100%;
    /* margin: 0 auto; */
    margin-left: 9px;
    margin-right: 0px;
    margin-top: 39px;
    margin-bottom: 30px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 264px;
    padding-right: 0px;
    background-color: rgb(221, 225, 234)
        
    }
    .center {
        text-align: center;
         align-items: center;
         justify-content: center;
    }

    .container8 h2{
        font-size: xx-large;
        margin-left: 6px;
        margin-right: 0px;
        margin-top: 89px;
        margin-bottom: 0px;
        margin-bottom: 2px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
    }

    
    .container8 h1{
        font-size: xx-large;
        margin-left: -4px;
        margin-right: 0px;
        margin-top: 40px;
        color: black;
    }

    .container8 p{
        font-size:large;
        margin-left: -72px;
        margin-right: -22px;
        margin-top: 36px;
        margin-bottom: 0px;
         padding-left: 0px;
         padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
        color: gray;

    }
    .btn5{
        margin-left: 15px;
        margin-right: 0px;
        margin-top: 67px;
        margin-bottom: 0px;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;

    }
    .btnf{
        margin-left: -39px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 18px 40px;
        font-size: large;
        color: white;
        font-weight: bold;
        background-color: #6b81f1;
        border:1px solid  #6b81f1;

    }

    .section-9{
        background-color: #3F5BD9;
    }
    .container9{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px


     }
    .middle{
        text-align: center;
}


.trust{
    color: #fff;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #d0d9d1;
    }
    .legacy{
        letter-spacing: 1px;
        font-weight: 500;
        font-family: Barlow;
        text-transform: uppercase;
        line-height: 1.3em;
        font-size: 45px;
        color: #fff;
        text-align: center;
    }

    .serving{
    color: #fff;
     font-size: 18px;
    line-height: 27px;
    text-align: center;
    }


 .icons-container {
    gap:87px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin-left: 180px;
    margin-top: -104px;
    }
    .oneone{
        font-weight: 600;
        font-size: 32px;
        line-height: 45px;
        color: white;
        text-align: center;
        
    }
    .subone{
    font-size: inherit;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    line-height: 24px;
    color: white;
    text-align: center;
}
.firsticon img{
    justify-content: center;
    margin-top: 165px;
    color: white;
    margin-left: 10px;
}
.tophead{
    margin-top:50px;
    display: inline-block;
    margin-left: 70px;
}

.section10{
    display:flex;
    justify-content: center;
    background-color: white;
}
.lastsection9 img{
    width: 884px;
    height: 338px;
    
}

 



/* .middle h3{
    margin-left: 294px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 4px 16px;
    color: white;
 } 
 .middle h5{
    margin-left: 44px;
    margin-right: 18px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 15px 0px;
    color: white;
 } 
 .middle h1{
    margin-left: 70px;
    margin-right: 0px;
    margin-top: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: -77px 0px;
    color: white;
    font-size: large;
}
 
  */
 /* .icons{
   
    display: flex;
    margin-left: -267px;
    margin-right: -151px;
    margin-top: 0;
    margin-top: 6px;
    margin-bottom: 0px;
    padding: 29px 109px;
 }
 .icons img{
    width: 65px;
    height: 51px;
    margin-left: 124px;
    margin-right: -9px;
    margin-top: 0;
    margin-top: 28px;
    margin-bottom: 0px;
    padding: 0px 0px;

 }
 .icons h5{
    margin-left: -55px;
    margin-right: 0px;
    margin-top: 0;
    margin-top: 112px;
    margin-bottom: -11px;
    padding: 0px 0px;
    color: white;
}

 
 .icons h1{
    margin-left: -114px;
    margin-right: 58px;
    margin-top: 0;
    margin-top: 146px;
    margin-bottom: 40px;
    padding: -40px 4px;
    color: white;
    font-size: 15px;
} */
/* h2{
    margin-left: -77px;
    margin-right: 0px;
    margin-top: 0;
    margin-top: 146px;
    margin-bottom: 0px;
    padding: 0px 0px;
    font-size: 15px;

} */
/* .map img{
    margin-left: -124px;
    margin-right: 0px;
    margin-top: 0;
    margin-top: -85px;
    margin-bottom: 12px;
    padding: -6px 0px;
}
.last img{
    width: 1079px;
    height: 361px;
    margin-left: 243px;
    margin-right: 0px;
    margin-top: 0;
    margin-top: 18px;
    margin-bottom: 0px;
    padding: 0px 0px;
} */

.section11{
   background-color: rgb(65, 65, 96);
   display: flex;
   justify-content: center;
   padding-bottom: 80px;
    
}
.footer{
    color: #fff;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
}
.footerimg{
       padding-top: 0;
    margin-top: 55px;
    padding-bottom: 0;
    border-bottom: 1px solid #38485F;
    margin-left: 75px;
    margin-right: 22px;
} 
 .footerimg img{
    padding-top: 0;
    margin-top: 55px;
    padding-bottom: 0;
    border-bottom: 1px solid #38485F;
    margin-left: 75px;
    margin-right: 22px;
    
} 

  .footer-about h1{
    color: #fff;
    display: block;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 20px;
    margin-left: 76px;
    margin-right: 19px;

  }
  .footer-about p {
    font-size: 25px;
    font-size: large;
    margin-right: 309px;
    line-height: 30px;
    width: 68rem;
    margin-left: 59px;
    margin-right: 10px;
    margin-top: 7px;
}
   



.footer-grid{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(4, 1fr); 
        gap: 10px;
        margin-left: 146px;
        margin-right: 0px;
        margin-top: 0;
        margin-top: 18px;
        margin-bottom: 0px;
        padding: 0px 0px;
        padding-top: 0 ;
        margin-top: 30px;
        padding-bottom: 0 ;
        border-bottom: 1px solid #38485F;
       
}


.grid-item1 p, li{
    list-style: none;
    color:white;
} 
/* .grid-item1{
    border-left: 1px solid #f2f2f2;
    padding-left: 15px;
} */
.grid-item1 p{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    padding: 7px 0px;

}
 .section12{
   background-color: rgb(65, 65, 96);
   display: flex;
   justify-content:center;
   padding-bottom: 80px;
   color: white;

 }
 .footersection-2{
    display:flex;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    padding: 0px 0px;
 }
 .ftsec2{
    display:flex;
    margin-left: -400px;
    margin-right: 0px;
    margin-top: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    padding: 0px 0px;
 }
 .spport{
    display:flex;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    padding: 0px 0px;
 }
 .customer{
    display: flex;
    margin-left: 37px;
    margin-right: 51px;
    margin-top: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    padding: 0px 0px;
    padding-left: 1px;
    padding-right: 1px;;
 }
 .customer img{
    margin-left: 0px;
    margin-right: 0px;
   
 }
 .footersectionpart-2{
    display:flex;

 }
 .ftsecpart2{
   display: flex;
   margin-right: -447px;
   margin-left: 262px;
   margin-top: 1px;
    margin-bottom: 0px;
    padding: 0px 0px;
 }

 .customerpart-2{
    display: flex;
    margin-left: 10px;
    margin-right: 64px;
    gap: 8px;
    margin-top: -3px;
    margin-bottom: 0px;
 }
 
 .section13{
    background-color: rgb(65, 65, 96);
    justify-content:center;
   padding-bottom: 80px;
   color: white;

 }
   .footerpart-3{
    display: flex;
    justify-content: center;
    
 }
 .footerpart-3 p{
    color: white;
    /* align-items: center; */
    line-height: 0;
    
}
 






