*{
    margin: 0px;
    padding:0px;
}
body{
    background-color: rgb(243, 248, 248);
    font-family: arial;
    font-size: 14px;
    /* width: 1366px;
    display: block;
    margin: auto; */
}

/* .fl{
    float: left;
}
.fr{
    float: right;
} */

.navbar{
    width: 100%;
    padding-top: 6px;
    padding-bottom: 12px;
    padding-left: -9px;
    padding-right: 0px;
    
    
} 
.navbar img{
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 270px;
    margin-right: 0px;
}

.search-container{
    padding: 0px;
    margin-top: -53px;
    margin-bottom: 0px;
    margin-left: 472px;
    margin-right: 0px;
    width: 0px;
    height: 0px;


}
.search-container img{
    padding: 0px;
    margin-top: -44px;
    margin-bottom: 20px;
    margin-left: 9px;
    margin-right: 0px;
    width: 22px;
}
.search-input{
    width: 582px;
    height: 31px;
    border-radius: 3px;
    border:1px solid rgb(160, 155, 155)
}
.btn1{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1073px;
    margin-right: 0px;
    
}
.btn2{
    padding: 0px;
    margin-top: -35px;
    margin-bottom: 29px;
    margin-left: 1239px;
    margin-right: 19px;
    background-color: white;
  
}

.bg-blue-400{
    padding: 8px 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    color:white;
    background-color: rgb(46, 46, 237);
    border: 1px solid blue;
    border-radius: 3px;
    

}
.bg1-blue-400{
    padding: 8px 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    color: blue;
    background-color: white;
    border: 1px solid blue;
    border-radius: 3px;

}
.nav-container{
    background-color: rgb(221, 221, 248);
     height:50px;

}

.nav-container ul{
    display:flex;
    padding-top: 12px;
    justify-content: space-evenly;
}
 li{
    list-style: none;
}
@media (min-width: 1024px){
.section1 {
    background-image: url(images/Asset_22_1.webp);
    padding-top: 343px;
    margin-bottom: -58px;
    background-color: #F9FBFE;
}
    
}
@media (min-width: 1024px){
.title-content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 24.15px;
}
}
.title-only{
    font-size: 43.8px;
    text-align: right;
    color: #2e51ff;
    font-family: Barlow;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: -259px;
    margin-left: -350px;

}

.mob-only{
    font-size: 17px;
    line-height: 22px;
    color: #2e51ff;
    margin-bottom: 16px;
    text-align: center;
    font-weight: 400;
    margin-left: -205px;
    font-style: italic;
    font-weight: bold;
}
.I{
    color:orange;
    font-style: italic;
}
.title-container img{
    padding-top: -109px;
    padding-bottom: -70px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -195px;
    margin-bottom: 54px;
    margin-left: 822px;
    margin-right: 28px;
    width: 295px;
    height: 131px;
   
}
.containerform{
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    width: 1094px;
    height: 150px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 236px;
    margin-right: 0px;
}

.containerform p{
      margin-top: 31px;
        margin-bottom: 0px;
        margin-left: 300px;
        margin-right: 0px;
        color: black;
        font-weight: bold;
        font-size: 22px;
    
}
.form{
    padding-top: 24px;
    padding-bottom: -7px;
    padding-left: 10px;
    padding-right: 0px;
    margin-top: -1px;
    margin-bottom: 3px;
    margin-left: 29px;
    margin-right: 0px;

}
.mobile{
    padding-top: -57px;
    padding-bottom: 1px;
    padding-left: 212px;
    padding-right: 61px;
    margin-top: -39px;
    margin-bottom: 0px;
    margin-left: 99px;
    margin-right: 0px;
    

}
.error{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 92px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 247px;
    margin-right: -184px;
    color:red;
    font-size: small;

}
.city{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 43px;
    padding-right: -20px;
    margin-top: -37px;
    margin-bottom: 0px;
    margin-left: 555px;
    margin-right: 0px

} 
.name{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 86px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 5px;
    border-color: rgb(219, 210, 210);
   

}
.mobile1{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: -11px;
    padding-right: 77px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -2px;
    margin-right: 0px;
    border-radius: 5px;
    border-color: rgb(219, 210, 210);

}
.city1{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 86px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 5px;
    border-color: rgb(219, 210, 210);

}
.prefix{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

}
/* padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px; */
   
    .btn3{
        padding-top: -2px;
        padding-bottom: 0px;
        padding-left: 877px;
        padding-right: 0px;
        margin-top: -46px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;

    }
    .btn31{
        padding-top: 10px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 8px;
    margin-top: -37px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(97, 97, 217);
    font-weight: bold;
    color: white;
    border:1px solid rgb(97, 97, 217);
    border-radius: 5px;
    font-size: 13px;

    }

    .contaner{
        background:white;
     }
    .pill{
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 1px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    margin-top: 0px;
    color: green;
     }
     .title-heading{
    padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 1px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    font-size: xxx-large;
     }
     .title-subheading{
    padding-top: 15px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 1px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    font-size: larger;
    color: grey;
     }
     .headingfirst{
    padding-top: 41px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 1px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

     }
     .slider-item{
        display: flex;
     }
     
        

.brokage {
    padding: 0px 0px 0px 47px;
    margin: 14px 52px 147px 153px;

    }
     .brokage img{
        width: 217px;
        height: 116px;
     }
     .headingbro1{
        font-weight: bold;
        margin-left: 45px;
        font-size: 18px;
     }
     .headingbro{
        margin-left: 45px;
        font-size: 18px;
       
    }
    .headingbro2{
        font-weight: bold;
        margin-left: 45px;
        font-size: 18px;

    }
    .headingbro21{
        margin-left: -38px;
        font-size: 18px;

    }
    .headingbro3{
        font-weight: bold;
        margin-left: 45px;
        font-size: 18px;

    }
    .headingbro31{
        margin-left: 101px;
        font-size: 18px;
    }

    
    .brokage3 img{
        width: 204px;
        height: 111px;
        margin-left: 46px;
        padding-top: 10px;
    }
    .h5{
        margin-top: 275px;
        margin-left: -513px;
        margin-right: -19px;
       color: rgb(97, 97, 217);
    }
    .arrow img{
        margin-top: 277px;
    margin-left: 31px;
    width: 9px;
    height: 11px;
         
    }
    .container4 h5{
        font-size: xx-large;
        font-weight: bold;
        color: rgb(56, 55, 55);
    }
    
   
    
    .grid-container {
        display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 9px;
    padding-left: 249px;
    padding-right: 10px;
    padding-bottom: 26px;
    padding-top: 20px;
    margin-left: -105px;
    margin-right: 377px;
    margin-top: 15px;
    margin-bottom: 20px;
    
    }

    /* Style individual grid items (optional) */
    .grid-item {
        background-color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 8px;
    }

    /* Style the images within the grid items */
    .grid-item img {
        max-width: 100px;
        max-height: 100px;
        margin-left: 6px;
        margin-right: 371px;
        margin-top: 15px;
        margin-bottom: -12px;
        width: 42px;
        height: 47px;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
        border-radius: 5px;
    }
    .grid-item p{
        margin-left: -226px;
        margin-right: 0px;
        margin-top: -23px;
        margin-bottom: 0px;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 25px;
        padding-right: 0px
      
    }
    .container-new{
        background-color: white;
    }
    .image-container{
        margin-left: 242px;
        padding-top: 63px;
        padding-bottom: 57px;
    }
    .content-container{
        margin-left: 789px;
        margin-right: 27px;
        margin-top: -522px;
        margin-bottom: 0px;
        padding-left: 57px;
        padding-top: 0px;
        padding-bottom: 25px;
        padding-right: 0px
    }
    .content-container h2 {
        font-size: xx-large;
    }
    .content-container p{
        font-size: large;
        margin-right: 309px;
        line-height: 2;
    }
    .links-container{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px

    }
    .single-link p{
        font-size: 18px;
        margin-left: 4px;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 0px;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
        color:rgb(72, 72, 210);
        font-weight: bold;
    }

    
    .single-link img{
        margin-left: 406px;
    margin-right: 20px;
    margin-top: -50px;
    margin-bottom: 30px;
    padding-left: 0px;
    padding-top: -12px;
    padding-bottom: 0px;
    padding-right: 0px;

    }
    hr{
        width: 417px;
        color: rgb(147, 147, 147)
        
        
    }
    .content-container7{
        margin-left: 109px;
        margin-right: 597px;
        margin-top: 43px;
        margin-bottom: 44px;
        padding-left: 65px;
        padding-top: 81px;
        padding-bottom: 25px;
        padding-right: 0px;
    }
    .content-container7 h2 {
        font-size: x-large;
        line-height: 2;
            margin-left: 51px;
    margin-right: 278px;
        margin-top: -98px;
        margin-bottom: 44px;
        padding-left: 65px;
        padding-top: 81px;
        padding-bottom: 25px;
        padding-right: 0px;
    }
    
    .content-container7 p{
        font-size: large;
        line-height: 2;
        margin-left: 61px;
    margin-right: 195px;
        margin-top: -149px;
        margin-bottom: 44px;
        padding-left: 65px;
        padding-top: 81px;
        padding-bottom: 25px;
        padding-right: 0px;
    }
    .links-container7{
          margin-left: 117px;
            margin-right: 0px;
            margin-top: -53px;
            margin-bottom: 0px;
            padding-left: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-right: 0px;

    }
    .single-link7 p{
        font-size: 18px;
        margin-left: 4px;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 0px;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
        color:rgb(72, 72, 210);
        font-weight: bold;
    }

    
    .single-link7 img{
    margin-left: 406px;
    margin-right: 20px;
    margin-top: -50px;
    margin-bottom: 30px;
    padding-left: 0px;
    padding-top: -12px;
    padding-bottom: 0px;
    padding-right: 0px;

    }
    hr{
        width: 417px;
        color: rgb(147, 147, 147)
        
        
    }
    .image-container1{
        margin-left: 865px;
        margin-right: 20px;
        margin-top: -605px;
        margin-bottom: 30px;
        padding-left: 0px;
        padding-top: -12px;
        padding-bottom: 0px;
        padding-right: 0px;
    }

    .container8{
    width: 994px;
    height: 400px;
    margin-left: 277px;
    margin-right: 0px;
    margin-top: 71px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    display: flex;
    background-color: rgb(243, 247, 250)
    }
    .center {
        margin-left: 237px;
        margin-right: 0px;
        margin-top: 90px;
        margin-bottom: 10px;
        margin-bottom: 0px;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
    }

    .container8 h2{
        font-size: xx-large;
     
        margin-left: -74px;
        margin-right: 0px;
         margin-top: 0px;
        margin-bottom: 0px;
         padding-left: 0px;
         padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;

    }
    .container8 h1{
        font-size: xx-large;
        margin-left: 189px;
        margin-right: 0px;
        margin-top: 16px;
    }

    .container8 p{
        font-size:large;
        margin-left: -72px;
        margin-right: -22px;
        margin-top: 36px;
        margin-bottom: 0px;
         padding-left: 0px;
         padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
        color: gray;

    }
    .btn5{
        margin-left: 175px;
        margin-right: 0px;
         margin-top: 46px;
        margin-bottom: 0px;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;

    }
    .btnf{
        margin-left: -39px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 18px 40px;
        font-size: large;
        color: white;
        font-weight: bold;
        background-color: #6b81f1;
        border:1px solid  #6b81f1;

    }
    .container9{
        background-color: #3F5BD9;;
        height: 550px;
        display: flex;
        
    }
    .middle{
        margin-left: 385px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 82px 0px;
}



 .middle h3{
    margin-left: 294px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 4px 16px;
    color: white;
 } 
 .middle h5{
    margin-left: 44px;
    margin-right: 18px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 15px 0px;
    color: white;
 } 
 .middle h1{
    margin-left: 70px;
    margin-right: 0px;
    margin-top: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: -77px 0px;
    color: white;
    font-size: large;
}
 
 .middle img{
    margin-left: -130px;
    margin-right: 0px;
    margin-top: 0;
    margin-top: 165px;
    margin-bottom: 0px;
    padding: 0px 0px;
    color: white;

 }
 .icons{
   
    display: flex;
    margin-left: -267px;
    margin-right: -151px;
    margin-top: 0;
    margin-top: 6px;
    margin-bottom: 0px;
    padding: 29px 109px;
 }
 .icons img{
    width: 65px;
    height: 51px;
    margin-left: 124px;
    margin-right: -9px;
    margin-top: 0;
    margin-top: 28px;
    margin-bottom: 0px;
    padding: 0px 0px;

 }
 .icons h5{
    margin-left: -55px;
    margin-right: 0px;
    margin-top: 0;
    margin-top: 112px;
    margin-bottom: -11px;
    padding: 0px 0px;
    color: white;
}

 
 .icons h1{
    margin-left: -114px;
    margin-right: 58px;
    margin-top: 0;
    margin-top: 146px;
    margin-bottom: 40px;
    padding: -40px 4px;
    color: white;
    font-size: 15px;
}
h2{
    margin-left: -77px;
    margin-right: 0px;
    margin-top: 0;
    margin-top: 146px;
    margin-bottom: 0px;
    padding: 0px 0px;
    font-size: 15px;

}
.map img{
    margin-left: -124px;
    margin-right: 0px;
    margin-top: 0;
    margin-top: -85px;
    margin-bottom: 12px;
    padding: -6px 0px;
}
.last img{
    width: 1079px;
    height: 361px;
    margin-left: 243px;
    margin-right: 0px;
    margin-top: 0;
    margin-top: 18px;
    margin-bottom: 0px;
    padding: 0px 0px;
}
.footer{
    background-color: rgb(65, 65, 96);
}
.footer-about p , h1{
    color:white

}
.footer-grid{
         display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(4, 1fr); 
        gap: 10px;
        margin-left: 146px;
        margin-right: 0px;
        margin-top: 0;
        margin-top: 18px;
        margin-bottom: 0px;
        padding: 0px 0px;
       
}


.grid-item1 p, li{
    color:white;
}
.footerimg img{
    margin-left: 208px;
    margin-right: 0px;
    margin-top: 0;
    margin-top: 66px;
    margin-bottom: 3px;
   
    margin-bottom: 0px;
    padding: 0px 0px;


}
.footer-about h1 {
    margin-left: 204px;
    margin-right: 0px;
    margin-top: 0;
    margin-top: 21px;
    margin-bottom: 3px;
    margin-bottom: 0px;
    padding: 0px 0px;


}
.footer-about p{
    margin-left: 193px;
    margin-right: 121px;
    margin-top: 0;
    margin-top: 21px;
    margin-bottom: 3px;
    margin-bottom: 0px;
    padding: 0px 0px;


}
.grid-item1{
    border-left: 1px solid #f2f2f2;
    padding-left: 15px;
}
.grid-item1 p{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    padding: 7px 0px;

}

.customer{
    margin-left: 140px;
    margin-top: 35px;
    color: white;
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0;
    margin-top: 35px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    padding: 0px 0px;
}
.fl{
    display:flex;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0;
    margin-top: 35px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    padding: 0px 0px;
}

.fl h4{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0;
    margin-top: 35px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    padding: 0px 0px;

}
.fl2 img{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    padding: 0px 0px;

}
.fl3 h4{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    padding: 0px 0px;
}
.fl4 img{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    padding: 0px 0px;

}
.support h4{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    padding: 0px 0px;

}
.logo{
    display:flex;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    padding: 0px 0px;
    align-items: center;
}
.footer1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.follw{
    display:flex;
    align-items: center;
}
.fl1{
    display: flex;
    align-items: center;
}







/* margin-left: 0px;
    margin-right: 0px;
    margin-top: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    padding: 0px 0px; */



 
    
