@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
/* For Print Only START */
@media print {
    .on-print,
    .on-print1 {
        display: block !important;
    }
    .no-print {
        display: none !important;
    }
    body {
        background: #ffffff !important;
        -webkit-print-color-adjust: exact;
    }
    .popup,
    .highcharts-map-navigation {
        display: none !important;
    }
    .highcharts-button-box {
        display: none;
    }
    .wrap-report-print ox-table .table tbody tr td,
    .wrap-report-print overview .table tbody tr td{
        white-space: normal !important;
    }
    /* Override two-ellipsis */
    .wrap-report-print overview .table tbody tr td span,
    .wrap-report-print ox-table .table tbody tr td span{
        -webkit-box-orient: inherit !important;
    }
}

* {
    font-weight: 400;
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #333333;
    font-family: var(--bodyFont);
    font-weight: 400;
    font-size: var(--bodyFontSize);
}

/* Basic css starts */
.on-print,
.display-none {
    display: none;
}
.no-print {
    display: block;
}

input,
select,
textarea {
    padding: 1px 5px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
select {
    border: solid 1px var(--border);
}
textarea {
    resize: vertical;
    min-height: 60px;
    font-size: inherit;
}
span {
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
}

pre {
    margin-top: 0;
    margin-bottom: 10px;
    overflow: auto;
    font-family: inherit;
    font-size: inherit;
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

sub,
sup {
    position: relative;
    font-size: 75%;
}

/* Basic css ends */

.underline {
    text-decoration: underline;
}
.pointer {
    cursor: pointer;
}
.no-pointer {
    cursor: default !important;
}
.italic {
    font-style: italic;
}

/* Buttons */
.btn {
    -webkit-appearance: none;
    border-radius: 3px;
    outline: medium none;
    padding: 0 15px;
    min-width: 70px;
    text-align: center;
    display: inline-block;
    font-weight: 400;
    margin-left: 10px;
    line-height: 30px;
    height: 30px;
    background-color: var(--btnBg);
    color: var(--btnColor);
    border: 1px solid var(--btnBg);
}
.btn-small {
    -webkit-appearance: none;
    border-radius: 2px;
    outline: medium none;
    padding: 2px 5px;
    min-width: 20px;
    text-align: center;
    display: inline-block;
    font-weight: 600;
    font-size: 10px;
    margin-left: 10px;
    background-color: var(--btnBg);
    color: var(--btnColor);
    border: 1px solid var(--btnBg);
}

.btn-disable,
.btn-disable-small {
    background-color: var(--btnBg);
    color: var(--btnColor);
    border: 1px solid var(--btnBg);
}

.btn:hover,
.btn-small:hover {
    cursor: pointer;
    opacity: 0.9;
}

.btn-outline {
    background-color: transparent;
    border: 1px solid var(--btnBg);
    color: var(--btnBg);
}
.btn-outline:hover {
    background: var(--btnBg);
    color: var(--btnColor);
}

/* Buttons */

.icon-checked,
.icon-uncheck {
    color: var(--btnBg);
}


.line-scale > div {
    background-color: var(--primary);
}

/* alignment starts */
.top-align {
    vertical-align: top;
}

.leftAlign,
.table > thead > tr > th.leftAlign,
.table > tbody > tr > td.leftAlign,
.table > tfoot > tr > td.leftAlign {
    text-align: left;
}

.rightAlign,
.table > thead > tr > th.rightAlign,
.table > tbody > tr > td.rightAlign,
.table > tfoot > tr > td.rightAlign {
    text-align: right;
}

.centerAlign,
.table > thead > tr > th.centerAlign,
.table > tbody > tr > td.centerAlign,
.table > tfoot > tr > td.centerAlign {
    text-align: center;
}

/* alignment ends */

/* Table ends */

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

.ellipsis-td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: table-cell;
    max-width: 0;
}

.two-ellipsis-td span {
    overflow: hidden;
    display: -webkit-inline-box;
    white-space: initial;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    vertical-align: middle;
}

.label {
    font-size: 12px;
}

.vCenter {
    display: flex;
    align-items: center;
}
.uppercase {
    text-transform: uppercase;
}
.flex {
    display: flex;
}

.flex-1,
.flex-2,
.flex-3,
.flex-4,
.flex-5,
.flex-6 {
    display: block;
    min-width: 0;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}
.flex-4 {
    flex: 4;
}
.border,
.bd-top,
.bd-right,
.bd-bottom,
.bd-left,
.dashedBorder,
.bd-dashed-top,
.bd-dashed-bottom,
.bd-dashed-right,
.bd-dashed-left {
    border-color: var(--border);
}

.border {
    border-style: solid;
    border-width: thin;
}

.bd-0 {
    border: none;
}

.bd-top {
    border-top-style: solid;
    border-top-width: thin;
}

.bd-right {
    border-right-style: solid;
    border-right-width: thin;
}

.bd-bottom {
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.bd-left {
    border-left-style: solid;
    border-left-width: thin;
}

.bd-top-0 {
    border-top: none;
}

.bd-right-0 {
    border-right: none;
}

.bd-bottom-0 {
    border-bottom: none;
}

.bd-left-0 {
    border-left: none;
}

.bd-dashed-top {
    border-top-style: dashed;
    border-top-width: 1px;
}

.bd-dashed-right {
    border-right-style: dashed;
    border-right-width: 1px;
}

.bd-dashed-bottom {
    border-bottom-style: dashed;
    border-bottom-width: 1px;
}

.bd-dashed-left {
    border-left-style: dashed;
    border-left-width: 1px;
}

.bd-dashed-top-0 {
    border-style: dashed;
    border-width: 0px 1px 1px 1px;
}

.bd-dashed-right-0 {
    border-style: dashed;
    border-width: 1px 0 1px 1px;
}

.bd-dashed-bottom-0 {
    border-style: dashed;
    border-width: 1px 1px 0 1px;
}

.bd-dashed-left-0 {
    border-style: dashed;
    border-width: 1px 1px 1px 0;
}

.m-auto {
    margin: auto;
}
.ml-auto {
    margin-left: auto;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}
.ml40 {
    margin-left: 40px;
}

.mr0 {
    margin-right: 0;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr40 {
    margin-right: 40px;
}

.mt0 {
    margin-top: 0;
}
.mt3 {
    margin-top: 3px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}
.mt40 {
    margin-top: 40px;
}

.mb0 {
    margin-bottom: 0;
}

.mb3 {
    margin-bottom: 3px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mlr5 {
    margin-left: 5px;
    margin-right: 5px;
}

.mlr10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mlr15 {
    margin-left: 15px;
    margin-right: 15px;
}

.mlr20 {
    margin-left: 20px;
    margin-right: 20px;
}

.mlr40 {
    margin-left: 40px;
    margin-right: 40px;
}

.mtb5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mtb10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mtb15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mtb20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.m0 {
    margin: 0;
}

.m5 {
    margin: 5px;
}

.m10 {
    margin: 10px;
}

.m15 {
    margin: 15px;
}

.m20 {
    margin: 20px;
}

.pl5 {
    padding-left: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pl15 {
    padding-left: 15px;
}

.pl20 {
    padding-left: 20px;
}

.pl40 {
    padding-left: 40px;
}

.pl0 {
    padding-left: 0px;
}

.pr5 {
    padding-right: 5px;
}

.pr10 {
    padding-right: 10px;
}

.pr20 {
    padding-right: 20px;
}

.pr40 {
    padding-right: 40px;
}

.pr0 {
    padding-right: 0px;
}

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt0 {
    padding-top: 0px;
}

.pb3 {
    padding-bottom: 3px;
}
.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb0 {
    padding-bottom: 0px;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}

.p20 {
    padding: 20px;
}

.p40 {
    padding: 40px;
}
.plr0 {
    padding-left: 0px;
    padding-right: 0px;
}
.plr5 {
    padding-left: 5px;
    padding-right: 5px;
}

.plr10 {
    padding-left: 10px;
    padding-right: 10px;
}

.plr15 {
    padding-left: 15px;
    padding-right: 15px;
}

.plr20 {
    padding-left: 20px;
    padding-right: 20px;
}

.plr40 {
    padding-left: 40px;
    padding-right: 40px;
}

.ptb5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.ptb7 {
    padding-top: 7px;
    padding-bottom: 7px;
}

.ptb10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ptb13 {
    padding-top: 13px;
    padding-bottom: 13px;
}

.ptb15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.ptb20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.p0 {
    padding: 0;
}

.mp0 {
    margin: 0;
    padding: 0;
}

.first-child-ml0:first-child {
    margin-left: 0;
}

.last-child-mr0:last-child {
    margin-right: 0;
}
.first-child-mt0:first-child {
    margin-top: 0;
}
.last-child-mb0:last-child {
    margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    color: inherit;
}

h1,
.h1 {
    font-size: 22px;
    font-weight: normal;
}

h2,
.h2 {
    font-size: 18px;
    font-weight: normal;
}

h3,
.h3 {
    font-size: 16px;
    font-weight: normal;
}

h4,
.h4 {
    font-size: 15px;
    font-weight: normal;
}

h5,
.h5 {
    font-size: 14px;
    font-weight: normal;
}

h6,
.h6 {
    font-size: 13px;
    font-weight: normal;
}
.strong,
.bold,
strong,
b {
    font-weight: 600;
}

.wid-100 {
    width: 100%;
}
.max-wid-100 {
    max-width: 100%;
}
.h-100 {
    height: 100%;
}
.wrap-height {
    height: calc(100% - 27px);
}
.fl {
    float: left;
}
.fr {
    float: right;
}

.scroll {
    overflow: auto;
}

.scroll-x {
    overflow-x: auto;
    overflow-y: hidden;
}
.scroll-y {
    overflow-x: hidden;
    overflow-y: auto;
}

.noStyle {
    margin: 0;
    padding: 0;
}

.noStyle > li {
    list-style: none;
}
.display-inline-block {
    display: inline-block;
}

.no-wrap,
.no-wrap td {
    white-space: nowrap;
}

.wrap,
.wrap span{
    white-space: normal !important;
    -webkit-box-orient:inherit;
}

.wrap-table.table tbody tr td{
    white-space: normal !important;
    text-overflow: inherit;
}

.hCenter {
    margin: 0 auto;
}

/* popup start */
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(00, 00, 00, 0.6);
    top: 0;
    left: 0;
    z-index: 10;
}

.popup-head {
    width: 100%;
    padding: 0 20px;
    line-height: 40px;
    height: 40px;
    font-size: 18px;
    align-items: center;
    display: flex;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.popup-head span.icon-fail, .popup-head span.icon-cross {
    cursor: pointer;
    float: right;
    height: 22px;
    line-height: 20px;
    margin-left: auto;
    font-size: 10px;
}
.popup-head span.icon-fail:hover, .popup-head span.icon-cross:hover {
    cursor: pointer;
    opacity: 0.6;
}

.popup-main {
    width: 100%;
    padding: 20px;
    overflow: auto;
    max-height: 80vh;
    min-height: 150px;
}

.popup .popup-head {
    background-color: #fff;
    color: var(--primary);
    border-color: var(--border);
}
.popup-foot {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    border-top-style: solid;
    border-top-width: 1px;
}
.popup .popup-foot {
    background-color: #fff;
    border-color: var(--border);
}
.popup .popup-head span {
    color: #4a4a4a;
}
.popup .popup-main {
    background-color: #fff;
}
/* popup ends */

.small-font {
    font-size: 10px;
}
.mid-font {
    font-size: 11px;
}
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}

.top-0 {
    top: 0;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

#loadingRequest {
    position: fixed;
    height: 100%;
    background-color: rgba(199, 199, 199, 0.95);
    z-index: 999;
    text-align: center;
    width: 100%;
    padding: 20% 0 0 0;
}

@keyframes line-scale {
    0% {
        -webkit-transform: scaley(1);
        transform: scaley(1);
    }
    50% {
        -webkit-transform: scaley(0.4);
        transform: scaley(0.4);
    }
    100% {
        -webkit-transform: scaley(1);
        transform: scaley(1);
    }
}

.line-scale > div:nth-child(1) {
    -webkit-animation: line-scale 1s -0.4s infinite;
    animation: line-scale 1s -0.4s infinite;
}

.line-scale > div:nth-child(2) {
    -webkit-animation: line-scale 1s -0.3s infinite;
    animation: line-scale 1s -0.3s infinite;
}

.line-scale > div:nth-child(3) {
    -webkit-animation: line-scale 1s -0.2s infinite;
    animation: line-scale 1s -0.2s infinite;
}

.line-scale > div:nth-child(4) {
    -webkit-animation: line-scale 1s -0.1s infinite;
    animation: line-scale 1s -0.1s infinite;
}

.line-scale > div {
    background-color: var(--primary);
    width: 4px;
    height: 35px;
    border-radius: 2px;
    margin: 2px;
    display: inline-block;
}
.drop-down {
    display: block;
    width: 8px;
    height: 8px;
    background: url(../asset/dropdown.png) no-repeat;
}
.drop-up {
    display: block;
    width: 8px;
    height: 8px;
    background: url(../asset/dropup.png) no-repeat;
}

.custom-report .reportHead > .h5,
.custom-report .reportHead > h5,
.custom-report h5.reportHead {
    font-weight: 600;
    line-height: 24px;
}
/*For drilldown map component*/
body .gm-style .gm-style-iw-t:after {
    display: none !important;
}

/* Spacing for Argon starts */
.ml4 {
    margin-left: 4px;
}

.ml8 {
    margin-left: 8px;
}

.ml16 {
    margin-left: 16px;
}

.ml24 {
    margin-left: 24px;
}
.ml32 {
    margin-left: 32px;
}

.mr4 {
    margin-right: 4px;
}

.mr8 {
    margin-right: 8px;
}

.mr16 {
    margin-right: 16px;
}

.mr24 {
    margin-right: 24px;
}

.mr32 {
    margin-right: 32px;
}

.mt4 {
    margin-top: 4px;
}

.mt8 {
    margin-top: 8px;
}

.mt16 {
    margin-top: 16px;
}

.mt24 {
    margin-top: 24px;
}
.mt32 {
    margin-top: 32px;
}

.mb4 {
    margin-bottom: 4px;
}

.mb8 {
    margin-bottom: 8px;
}

.mb16 {
    margin-bottom: 16px;
}

.mb24 {
    margin-bottom: 24px;
}

.mlr4 {
    margin-left: 4px;
    margin-right: 4px;
}

.mlr8 {
    margin-left: 8px;
    margin-right: 8px;
}

.mlr16 {
    margin-left: 16px;
    margin-right: 16px;
}

.mlr24 {
    margin-left: 24px;
    margin-right: 24px;
}

.mlr32 {
    margin-left: 32px;
    margin-right: 32px;
}

.mtb4 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.mtb8 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.mtb16 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.mtb24 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.m4 {
    margin: 4px;
}

.m8 {
    margin: 8px;
}

.m16 {
    margin: 16px;
}

.m24 {
    margin: 24px;
}

.pl4 {
    padding-left: 4px;
}

.pl8 {
    padding-left: 8px;
}

.pl16 {
    padding-left: 16px;
}

.pl24 {
    padding-left: 24px;
}

.pl32 {
    padding-left: 32px;
}

.pr4 {
    padding-right: 4px;
}

.pr8 {
    padding-right: 8px;
}

.pr24 {
    padding-right: 24px;
}

.pr32 {
    padding-right: 32px;
}

.pt4 {
    padding-top: 4px;
}

.pt8 {
    padding-top: 8px;
}

.pt16 {
    padding-top: 16px;
}

.pt24 {
    padding-top: 24px;
}

.pb8 {
    padding-bottom: 8px;
}

.pb16 {
    padding-bottom: 16px;
}

.pb24 {
    padding-bottom: 24px;
}

.p4 {
    padding: 4px;
}

.p8 {
    padding: 8px;
}

.p16 {
    padding: 16px;
}

.p24 {
    padding: 24px;
}

.p32 {
    padding: 32px;
}

.plr4 {
    padding-left: 4px;
    padding-right: 4px;
}

.plr8 {
    padding-left: 8px;
    padding-right: 8px;
}

.plr16 {
    padding-left: 16px;
    padding-right: 16px;
}

.plr24 {
    padding-left: 24px;
    padding-right: 24px;
}

.plr32 {
    padding-left: 32px;
    padding-right: 32px;
}

.ptb4 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.ptb8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.ptb16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.ptb24 {
    padding-top: 24px;
    padding-bottom: 24px;
}
/* Spacing for Argon ends */

/* Fixed colors (Do not change) starts */

.icon-excel {
    color: #1f7246;
}

.icon-pdf {
    color: #bd0704;
}

.icon-linkedin {
    color: #0077b5;
}

.icon-switch-off {
    color: #dbdbdb;
}

.icon-fail {
    color: #ec4646;
}

.icon-pass {
    color: #428e38;
}
.color-white {
    color: #fff;
}
.bg-color-white {
    background-color: #fff;
}

.amber {
    color: #f97b31 !important;
}
.error {
    color: #ff4e4e !important;
}
.pass {
    color: #46ab39 !important;
}
.label {
    font-size: 12px;
    color: var(--labelColor);
}
.bg-color-light {
    background-color: #f9f9f9;
}
.bg-color-dark {
    background-color: #afafaf;
}
.darkBorder {
    border-color: #adadad;
}
.color-light {
    color: #6b6b6b;
}
.highcharts-legend-item text {
    fill: #8a8a8a;
}
/* Fixed colors (Do not change) ends */

/* Theme colors starts */

.color-1 {
    color: var(--primary);
}
.color-2 {
    color: var(--secondary);
}

.bg-color-1 {
    background-color: var(--BgColor1);
}
.bg-color-2 {
    background-color: var(--BgColor2);
}

.bg-none {
    background-color: transparent;
}

a,
.a,
.link {
    color: var(--anchor);
    cursor: pointer;
}
/* Theme colors ends */

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar:horizontal {
    height: 8px;
}

/*Scrollbar customize start */
::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
::-webkit-scrollbar-track-piece {
    background-color: #e6e6e6;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #888888;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}
::-webkit-scrollbar-thumb:hover {
    background: #6b6b6b;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #cacaca;
}

.scroll-active {
    border-color: var(--color1) !important;
}
/*Scrollbar customize end */

/* Quill Editor Customization start */
.ql-container {
    font-family: var(--bodyFont);
    font-size: 12px;
}
.richText p {
    margin: 0;
}

.richText ul,
.richText ol {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}
.ql-toolbar.ql-snow,
.ql-container.ql-snow {
    border: solid 1px var(--border);
}
/* Quill Editor Customization start End */

input,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    box-sizing: border-box;
    padding: 3px 5px;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
}
input {
    height: 30px;
    overflow: visible;
}
input,
select,
textArea {
    border-color: #e8e8e8;
    background-color: #ffffff;
    color: #3b3b3a;
}

.input-form > ul {
    margin: 0 0 10px 0;
    padding: 0;
    display: flex;
    /* align-items: center; */
    width: 100%;
}

.input-form > ul:last-child {
    margin: 0;
}

.input-form > ul > li {
    list-style: none;
    float: left;
    min-width: 0;
}

.input-form > ul > li:first-child {
    margin-right: 10px;
    width: 140px;
    white-space: nowrap;
    color: var(--labelColor);
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 7px;
    min-height: 30px;
    box-sizing: border-box;
}

.input-form > ul > li:nth-child(2) {
    flex: 1;
}
.input-form > ul > li input[type='text'],
.input-form > ul > li input[type='email'],
.input-form > ul > li input[type='number'],
.input-form > ul > li select,
.input-form > ul > li textarea,
.input-form-column > ul > li input[type='text'],
.input-form-column > ul > li input[type='email'],
.input-form-column > ul > li input[type='number'],
.input-form-column > ul > li select,
.input-form-column > ul > li textarea {
    width: 100%;
}
textarea:focus,
input:focus,
select:focus {
    outline: 0;
}

/* Below css is only applied if citation is enable. */
/* Ony Suraj can do the changes, work is in progress  */
.no-print-cit {
    display: inline-block;
}
.on-print-cit {
    display: none;
}
@media print {
    .on-print-cit {
        display: inline-block;
    }
    .no-print-cit {
        display: none;
    }
}

/* citation end */
