/* /* .logo{
    height: 20px;px;
    width:20px; */

} */
:root {
    --dark-blue: #3f5bd9;
    --heading-color: #2a394e;
    --paragraph-color: #6a7582;
    --sub-heading-color: #333333;
}

.l-button{
    background-color: 3f5bd9;
    height:2rem ;
}
html{
    font: size 62.5%; ;
}
.home{
    background-color:
rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.5rem;
    font-weight: 400;
    font-size: 1rem;
    font-family: ;
    padding-bottom: 1rem;
}
.home p{
    color:
rgb(51, 51, 51);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.social-icons{
    display: flex;
    flex-direction: row;
}
.social-icons ul{
    display: flex;
    flex-direction:row ;
    width: 100%;
    padding-left: 2rem;
    padding-top: 4rem;
    padding-bottom:1rem ;
     

}
li{
    list-style-type: none;
}

.social-icons li{
    /* height: 3rem;
    width: 3rem ; */
    list-style-type: none;
    padding-right:2rem ;
    font-family: ;
    font-size:1.5rem ;
    color: black;
    
}
.social-icons i{
    color: black;
    font-weight:600 ;
    
}
.home li{
    padding
}
.header{
    padding-left:1rem ;
    padding-top:1rem ;
    padding-bottom:1rem
    padding-right:1rem;
}
.cards{
    margin-top:2rem ;
    width: ;
}
/* .promo{
    justify-content: space-between;
    width:100% ;
margin:1rem ;

    display: flex;
    flex-direction: row;
    background-color:#1935b4 ;
    
} */
.promo .promo-img{
    padding: 0.7rem;
    margin: auto;
    display: flex;
    /* flex-direction:row ; */
    width:80% ;
    border-radius: 1rem;
    box-shadow:5px 5px 5px 5px lightgray ;
    /* flex-shrink: 0%; */
    /* gap: 2rem; */
    align-items: center;
    background-color:#1935b4 ;
    /* justify-content: space-between; */
}
.app-images{
    /* display: flex; */
    flex-direction:row ;
}
/* .container{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    /* gap:20rem ;
     */
     justify-content: space-between;
     align-items: center;

}
.l-button{
    /* display: flex;
    flex-direction: row; */
    margin:2rem;
} */
.navbar{
    width: 100%;
    padding-top: 6px;
    padding-bottom: 12px;
    padding-left: -9px;
    padding-right: 0px;
    
    
} 
.navbar img{
    /* position: fixed; */
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 270px;
    margin-right: 0px;
}
nav{
    position: relative;
}
/* .navblock{
    position: fixed;
} */

.search-container{
    padding: 0px;
    margin-top: -53px;
    margin-bottom: 0px;
    margin-left: 472px;
    margin-right: 0px;
    width: 0px;
    height: 0px;


}
.search-container img{
    padding: 0px;
    margin-top: -44px;
    margin-bottom: 20px;
    margin-left: 9px;
    margin-right: 0px;
    width: 22px;
}
.search-input{
    width: 582px;
    height: 31px;
    border-radius: 3px;
    border:1px solid rgb(160, 155, 155)
}
.btn1{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1073px;
    margin-right: 0px;
    
}
.btn2{
    padding: 0px;
    margin-top: -35px;
    margin-bottom: 29px;
    margin-left: 1239px;
    margin-right: 19px;
    background-color: white;
  
}

.bg-blue-400{
    padding: 8px 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    color:white;
    background-color: rgb(46, 46, 237);
    border: 1px solid blue;
    border-radius: 3px;
    

}
.bg1-blue-400{
    padding: 8px 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    color: blue;
    background-color: white;
    border: 1px solid blue;
    border-radius: 3px;

}
.nav-container{
    
    background-color: rgb(221, 221, 248);
     height:50px;

}

.nav-container ul{
    display:flex;
    padding-top: 12px;
    justify-content: space-evenly;
}
 li{
    list-style: none;
}
.card-container{
    margin-bottom:2rem ;
    width:100%; 
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: 2rem;
    
    
}
.card-items{
    text-align: center;
    padding:1rem ;
    /* display: flex; */
    border:0.1rem solid black;
    border-radius:0.7rem ;
    width:10rem ;
    cursor: pointer;
}
.card-items:hover{
    text-shadow: 0px 0px blue;
    color:blue ;
    opacity:0.5rem ;
}
.card-container img{
    
   
    padding:1rem 1rem 1rem 1rem;
}
.card-container p{
    margin-top: 4rem;

}
/* .merge{
    display: flex;
    justify-content: space-between;
} */

.promo-text{
    color:rgb(255, 201, 2);
    position: absolute;
    top: 0px;
    left:300px;
    width: 100px;
    margin-top:70px ;
    /* bottom: 50px; */
    text-transform: uppercase;
    /* margin-right: 100px; */
    font-size: 1.5rem;
}
.promo{
    margin: 3rem ;
}
.promo-info{
    position: relative;
}
.promo-logo h4{
    color: white;
    font-size: 1.5rem;
}
.cards{
    padding:1.5rem ;
}
.cards{
    display: flex;
    justify-content: space-between;
    gap:2rem ;
}



/* footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f6f8fd;
    font-family: "Barlow", sans-serif;
    padding: 1rem 8.5rem;
    max-width: 100vw;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
user agent stylesheet
footer {
    display: block;
}
:root {
    --dark-blue: #3f5bd9;
    --heading-color: #2a394e;
    --paragraph-color: #6a7582;
    --sub-heading-color: #333333;
} */
.main-right form {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
    padding: 2rem 1rem;
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
user agent stylesheet
form {
    display: block;
    margin-top: 0em;
}
:root {
    --dark-blue: #3f5bd9;
    --heading-color: #2a394e;
    --paragraph-color: #6a7582;
    --sub-heading-color: #333333;
}
@media screen and (max-width: 1024px)
.footer_1, .section12, .section13 {
    margin-right: -19rem;
}
.footer_1 {
    background-color: rgb(65, 65, 96);
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}
user agent stylesheet
section {
    display: block;
}
:root {
    --font-family: 'Barlow (woff2)', sans-serif;
    --background-color: #f9fbfe;
    --whit-background-color: #ffffff;
    --dark-blue-color: #3f5bd9;
    --subheading-color: #777D87;
}
.footer-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-left: 146px;
    margin-right: 0px;
    margin-top: 0;
    margin-top: 18px;
    margin-bottom: 0px;
    padding: 0px 0px;
    padding-top: 0;
    margin-top: 30px;
    padding-bottom: 0;
    border-bottom: 1px solid #38485F;
}
user agent stylesheet
div {
    display: block;
}
.footer {
    color: #fff;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
}
.bt{
    background-color:rgb(63, 91, 217) ;
    color: white;
}
