* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #3f5bd9;
  --heading-color: #2a394e;
  --paragraph-color: #6a7582;
  --sub-heading-color: #333333;
}

h2 {
  font-family: "Barlow";
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #2a394e;
  font-size: 40px;
  line-height: 48px;
}

/* hero-section (first-section) */

/* nav */

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 11.5rem;
  max-width: 100%;
}

nav img {
  width: 12rem;
  height: 3.56rem;
}

nav .anchors {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-right: 2rem;
}

nav div a {
  color: var(--dark-blue);
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Barlow";
}

nav div a:last-of-type {
  background-color: var(--dark-blue);
  line-height: 1.68rem;
  color: #fff;
  padding: 0.68rem 1.56rem;
  border-radius: 0.25rem;
  font-size: 1.125rem;
}

/* hero */

.hero {
  max-width: 100vw;
}

/* main */

.main {
  display: flex;
  padding: 7rem 11rem;
  background-image: url(./images/bg-firstscroll1.png);
  max-width: 100%;
}

/* main-left */

.main-left {
  width: 55%;
}

.main-left h1 {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: -0.01em;
  color: var(--heading-color);
  margin-bottom: 2rem;
}

.main-left h1 span {
  color: var(--dark-blue);
}

.main-left .sub-heading {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 48px;
  color: var(--paragraph-color);
}

.main-left strong {
  display: block;
  margin-bottom: 24px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--sub-heading-color);
}

.main-left ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.main-left ul li span {
  font-family: "Barlow";
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.01em;
  color: var(--dark-blue);
}

.main-left ul li p {
  font-size: 16px;
  color: var(--sub-heading-color);
  font-family: "Barlow";
  margin-top: 0.3rem;
}

/* main-right */

.main-right {
  width: 45%;
  margin-top: -2rem;
  padding: 0 6.5rem;
  padding-right: 0.7rem;
}

.main-right h5 {
  color: var(--heading-color);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  /* margin-bottom: 0.5rem; */
}

.main-right form {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
  padding: 2rem 1rem;
  width: 100%;
  height: 102%;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-right input {
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  width: 100%;
  padding: 0.875rem 1rem;
  background: #fff;
  border: 1px solid #e0e0ec !important;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 0.875rem;
  color: #2a394e;
  font-family: "Barlow", sans-serif;
  outline: 0;
  height: auto;
}

.main-right input:last-of-type {
  color: white;
  background-color: var(--dark-blue);
  text-align: center;
}

.main-right input:last-of-type::placeholder {
  color: white;
}

/* perks-section */

.perks {
  display: flex;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 4rem;
  max-width: 100vw;
}

.perks-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.perks-main span {
  white-space: nowrap;
  width: auto;
  border-radius: 44px;
  padding: 4px 12px;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  background: rgba(249, 186, 77, 0.12);
  color: #f9ba4d;
  margin-bottom: 16px;
}

.perks-main h2 {
  margin-bottom: 46px;
}

.perks-main .benefits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 85%;
  gap: 1.5rem;
}

.perks-main .benefits div {
  display: flex;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid #e8ebf1;
  border-radius: 8px;
  padding: 24px 32px;
  gap: 24px;
  flex: 1;
  flex-basis: calc(33.33% - 26px);
  align-items: center;
}

.perks-main .benefits div img {
  width: 2rem;
}

.perks-main .benefits div p {
  display: flex;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: var(--heading-color);
}

/* learn-how */

.learn-how {
  padding: 5rem 11rem;
  background: url(./images/bg-firstscroll1.png);
  display: flex;
  max-width: 100vw;
}

.learn-how .left {
  width: 65%;
}

.learn-how .special {
  border-radius: 44px;
  padding: 4px 12px;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  background: #1ec7b61f;
  color: #1ec7b6;
  margin-bottom: 1rem 0;
}

.learn-how h2 {
  margin: 1rem 0;
}

.learn-how h2 span {
  color: var(--dark-blue);
}

.learn-how .left p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #6a7582;
  margin-bottom: 16px;
}

.learn-how .left div {
  padding: 2rem 1rem;
  margin-bottom: 3.5rem;
  background: #ffffff;
  border: 1px solid #e8ebf1;
  box-shadow: 0px 32px 64px -24px rgba(224, 224, 236, 0.64);
  border-radius: 8px;
}

.learn-how .left div p {
  font-size: 16px;
}

.learn-how .left div p:last-of-type {
  margin-bottom: -0.1rem;
}

.learn-how a {
  background-color: var(--dark-blue);
  line-height: 1.68rem;
  color: #fff;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  text-decoration: none;
  font-family: "Barlow";
  box-shadow: 0px 8px 12px -4px rgba(63, 91, 217, 0.24);
}

.learn-how .right {
  position: relative;
  width: 35%;
}

.learn-how .right img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 85%;
  height: auto;
  margin-bottom: -1.5rem;
}

/* eligibility */

.eligibility {
  font-family: "Barlow", sans-serif;
  padding: 2rem 11rem 5rem 11rem;
  max-width: 100vw;
}

.eligibility .container {
  display: flex;
  flex-direction: column;
}

.eligibility .container .top {
  display: flex;
  gap: 1rem;
}

.eligibility .container .top div {
  padding-bottom: 3.5rem;
}

.eligibility .container .top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.eligibility .container .top .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.eligibility .container .top .center .pill {
  background: rgba(30, 199, 182, 0.12);
  border-radius: 44px;
  padding: 4px 12px;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #1ec7b6;
}

.eligibility .container .top .center h2 {
  margin-bottom: 50px;
  margin-top: 16px;
  text-align: center;
}

.eligibility .container .top .center span {
  color: var(--dark-blue);
}

.eligibility .container .top .center a {
  background: var(--dark-blue);
  border: 1px solid #3f5bd9;
  box-shadow: 0px 8px 12px -4px rgba(63, 91, 217, 0.24);
  border-radius: 4px;
  padding: 16px 32px;
  line-height: 1;
  color: #fff;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}

.eligibility .container .bottom {
  padding: 2rem;
  display: flex;
  gap: 2rem;
  background-color: #f4f6ff;
  border-radius: 6px;
  margin-top: -2.5rem;
}

.eligibility .container .bottom .card {
  padding: 1.5rem;
  background-color: white;
  padding-bottom: 3rem;
  border: 1px solid #e8ebf1;
  border-radius: 6px;
}

.eligibility .container .bottom .card img {
  width: 2rem;
  margin-bottom: 1rem;
}

.eligibility .container .bottom .card p:first-of-type {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.01em;
  color: var(--heading-color);
  margin-bottom: 12px;
}

.eligibility .container .bottom .card p:last-of-type {
  font-size: 14px;
  color: var(--paragraph-color);
}

/* on-boarding */

.on-boarding {
  font-family: "Barlow", sans-serif;
  background-color: #f4f6ff;
  padding: 3.5rem 11rem 4rem 11rem;
  max-width: 100vw;
}

.on-boarding .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 17rem;
}

.on-boarding .pill {
  white-space: nowrap;
  width: auto;
  background: rgba(249, 186, 77, 0.12);
  border-radius: 44px;
  padding: 4px 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #f9ba4d;
}

.on-boarding h2 {
  text-align: center;
  margin: 1.5rem 0;
  margin-bottom: 2rem;
}

.on-boarding h2 span {
  color: var(--dark-blue);
}

.on-boarding div ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: white;
  padding: 2rem 3rem;
  padding-left: 4rem;
  border-radius: 8px;
  border: 1px solid #e8ebf1;
  box-shadow: 0px 32px 64px -24px rgb(192 192 216 / 30%);
  backdrop-filter: blur(32px);
  list-style-type: none;
}

.on-boarding div ul li {
  color: var(--sub-heading-color);
  font-size: 1rem;
}

.on-boarding div ul li::before {
  content: "1";
  color: green;
}

.on-boarding div:last-of-type {
  margin: 0 7rem;
}

/* achievements */

.achievements {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Barlow", sans-serif;
  max-width: 100vw;
}

.achievements .pill {
  margin-top: 5rem;
  margin-bottom: 1rem;
  white-space: nowrap;
  /* width: auto; */
  background: rgba(249, 186, 77, 0.12);
  border-radius: 44px;
  padding: 4px 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #f9ba4d;
}

.achievements h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.achievements .year {
  margin-bottom: 72px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #6a7582;
}

.achievements .main {
  display: flex;
  gap: 5rem;
  padding: 0 11rem;
  margin-bottom: 5rem;
}

.achievements .main .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  padding-right: 6.5rem;
}

.achievements .right div {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
  border: 1px solid #e8ebf1;
  border-radius: 7px;
  box-shadow: 0px 32px 64px -24px rgba(224, 224, 236, 0.64);
}

.achievements .right div img {
  width: 3.5rem;
  height: 3.5rem;
}

.achievements .right div p {
  font-weight: 500;
  font-size: 20px;
}

.achievements .right div p span {
  color: var(--dark-blue);
  font-weight: 600;
}

/* TESTIMONIAL */

.testimonial {
  background-color: #f6f8fd;
  padding: 4rem 11rem;
  max-width: 100vw;
}

.testimonial .bottom {
  display: flex;
}

.testimonial .bottom .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 30%;
}

.testimonial {
  font-family: "Barlow", sans-serif;
}

.testimonial .container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.testimonial .container .bottom {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: space-between;
}

.testimonial .container .bottom .right {
  display: flex;
  gap: 1.5rem;
  width: 79%;
}

.testimonial .container .bottom .right .card {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
  padding: 1.5rem;
  border: 1px solid #e8ebf1;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(138, 141, 153, 0.16);
}

.testimonial .container .bottom .right-head {
  display: flex;
  gap: 1rem;
}

.testimonial .container .bottom .right-head img {
  width: 4rem;
  border-radius: 50%;
}

.testimonial .container .bottom .right-head-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.testimonial .container .bottom .right .card .foot p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  font-feature-settings: "salt" on, "liga" off;
  color: #2a394e;
}

.right-head-text p:first-of-type {
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  color: var(--heading-color);
}

.right-head-text p:last-of-type {
  font-size: 16px;
  line-height: 150%;
  color: var(--paragraph-color);
}

.testimonial .pill {
  white-space: nowrap;
  width: auto;
  background: rgba(30, 199, 182, 0.12);
  border-radius: 44px;
  padding: 4px 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #1ec7b6;
}

/* faqs */

.faq {
  padding: 5rem 11rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  font-family: "Barlow", sans-serif;
  max-width: 100vw;
}

.faq .container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.faq summary {
  font-size: 18px;
  color: var(--sub-heading-color);
  font-weight: 600;
  padding: 1rem 1.25rem;
  border-bottom: 1px solid #e0e0ec;
  background-color: #fafafa;
}

/* connect-with-us */

.connect-with-us {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 11rem;
  font-family: "Barlow", sans-serif;
  max-width: 100vw;
}

.connect-with-us .contain {
  position: relative;
  border-radius: 8px;
  background: linear-gradient(260.8deg, #3f5bd9 -12.29%, #00198a 88.44%),
    #f7f8fd;
  width: 100%;
  overflow: hidden;
}

.connect-with-us .contain img {
  object-fit: cover;
  border-radius: 8px;
}

.connect-with-us .contain div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
}

.connect-with-us .pill {
  display: inline-block;
  background: rgba(249, 186, 77, 0.12);
  border-radius: 44px;
  padding: 4px 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 16px;
  color: #f9ba4d;
}

.connect-with-us h2 {
  color: #fff;
  margin-bottom: 20px;
}

.connect-with-us p {
  color: white;
  margin-bottom: 1rem;
}

.connect-with-us .contain a {
  text-decoration: none;
  background: #fff;
  box-shadow: 0px 8px 12px -4px rgba(63, 91, 217, 0.24);
  border-radius: 4px;
  padding: 16px 32px;
  line-height: 1;
  color: var(--dark-blue);
  margin-bottom: 32px;
  margin-top: 40px;
  font-weight: 600;
  font-size: 16px;
}

/* footer */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f8fd;
  font-family: "Barlow", sans-serif;
  padding: 1rem 8.5rem;
  max-width: 100vw;
}

footer .left {
  display: flex;
  align-items: center;
  gap: 1.7rem;
}

footer .center img {
  width: 12rem;
  margin-left: 8rem;
}

footer .right p {
  color: rgb(194, 198, 204);
}




/*MEDIA-QUERIES*/

@media screen and (max-width: 1024px) {
  nav,
  .hero,
  .perks,
  .learn-how,
  .eligibility,
  .on-boarding,
  .achievements,
  .connect-with-us,
  footer {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  nav .anchors {
    margin-right: 0;
  }

  .hero .main {
    padding: 0;
    padding-left: 0.5rem;
  }
  .hero .main-right {
    margin-top: 0;
    padding: 0;
    height: 100%;
    padding-left: 3rem;
  }

  .perks-main {
    width: 100%;
  }

  .perks-main .benefits {
    grid-template-columns: 1fr;
    width: 99.5%;
    gap: 1rem;
  }

  .learn-how .left {
    width: 100%;
  }

  .learn-how .right {
    width: 0;
  }

  .achievements .main {
    padding: 0;
    gap: 2rem;
  }

  .achievements .main .right {
    padding-right: 0;
  }

  .testimonial {
    padding: 0.5rem;
  }

  .faq {
    padding: 6rem 0.5rem;
  }

  .connect-with-us .contain div {
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .hero .main {
    flex-direction: column;
    gap: 1.5rem;
  }
  .hero .main-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 5rem;
  }
  .hero .main-left > h1,
  .hero .main-left .sub-heading,
  .hero .main-left strong {
    margin: 0;
  }
  .hero .main-left h1 {
    font-size: 1.5rem;
    line-height: 1rem;
    margin-top: 1rem;
  }

  .hero .main-right {
    width: 100%;
    padding: 0;
  }

  .hero .main-right form {
    padding: 2rem 12rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  }

  nav img {
    width: 9rem;
    height: 2.56rem;
  }
  nav .anchors a:last-of-type {
    padding: 0.5rem 1rem;
  }
  h2 {
    font-size: 1.3rem;
  }

  .perks span, .perks h2 {
    margin-bottom: 0;
  }

  .learn-how {
    padding: 0 1rem;
    padding-bottom: 4rem;
  }
  .learn-how .left div {
    margin-bottom: 2rem;
  }
  .learn-how h2 {
    margin-top: 1rem;
    margin-bottom: 0;
  }


  .eligibility .container .bottom {
    flex-wrap: wrap;
  }
  .eligibility .container .bottom .card {
    width: 47%;
  }
  .eligibility .container .top .center h2 {
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }

  .on-boarding {
    padding: 3.5rem 0 4rem 0;
  }
  .on-boarding .heading {
    padding: 0;
  }
  .on-boarding h2 {
    margin: 0.5rem 0 1rem 0;
  }
  .on-boarding div:last-of-type {
    width: 98%;
    margin: 0;
    margin-left: 0.3rem;
  }

  .achievements .pill {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .achievements .year {
    margin-bottom: 2rem;
  }
  .achievements h2 {
    margin: 0;
  }
  .achievements .main .left {
    display: none;
  }
  .achievements .main .right {
    gap: 1rem;
  }

  .testimonial .container .top {
    display: none;
  }
  .testimonial .bottom {
    flex-direction: column;
    margin-top: 1rem;
  }
  .testimonial .bottom .left {
    width: 100%;
    gap: 0;
    padding-left: 1rem;
  }
  .testimonial .container .bottom .right {
    width: 100%;
  }

  .faq {
    padding: 3rem 0.5rem;
    gap: 1rem;
  }
  .faq h2 {
    margin-left: 1rem;
  }

}








@media screen and (max-width: 376px) {
  .hero .anchors a {
    display: none;
  }
  .hero .main-right form {
      padding: 2rem 1rem;
      width: 100%;
  }
  .hero .main-left {
    padding: 0;
  }
  .hero .main-left h1 {
    line-height: 2rem;
    margin-top: 0;
  }
  .hero .main-left ul {
    flex-direction: column;
    gap: 1rem;
  }
  .hero .main-left .sub-heading {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  nav a:first-of-type{
    display: none;
  }
  nav a:last-of-type{
    padding: 0.5rem 0.3rem;
  }

  .perks {
    padding-top: 3rem;
  }
  .perks h2 {
    margin-bottom: 1.5rem;
  }
  .perks-main {
    box-shadow: 0px 2px 8px rgb(138 141 153 / 16%);
  }
  .perks-main .benefits div p {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }

  .eligibility {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .eligibility .container .top .center h2 {
    text-align: left;
  }
  .eligibility .container .top .left, .eligibility .container .top .right {
    display: none;
  }
  .eligibility .container .top .center {
    align-items: flex-start;
    padding-top: 0;
  }
  .eligibility .container .top .center a {
    margin-bottom: 0.5rem;
  }
  .eligibility .container .bottom .card {
    width: 100%;
  }

  .on-boarding {
    padding: 0.5rem 0 1.5rem 0;
  }
  .on-boarding div ul {
    padding: 1rem;
  }
  .on-boarding .heading {
    align-items: flex-start;
    padding: 0 1.5rem;
  }
  .on-boarding .heading h2 {
    text-align: left;
    line-height: 2rem;
  }

  .achievements .right div {
    flex-direction: column;
  }
  .achievements .right div p {
    font-size: 1rem;
  }




  footer {
      flex-direction: column;
  }
  .testimonial .bottom .right {
      flex-direction: column;
  }
  .testimonial .container .bottom .right .card {
      width: 100%;
  }
  .connect-with-us {
    padding: 1rem 0.5rem;
    margin-bottom: 2rem;
  }
  .connect-with-us p {
    text-align: center;
  }
  .connect-with-us .contain div {
    top: 1rem;
    left: 0;
    padding: 1rem;
  }
  footer {
      flex-direction: column;
      align-items: center;
  }
  footer .center img {
    width: 10rem;
    margin-left: 0;
  }
  footer .left {
    gap: 0.7rem;
  }

}

